<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir cualquier petición que inicie con /api/ al controlador frontal public/index.php
    RewriteCond %{REQUEST_URI} ^/api/ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
